Repository andrcuns/allure-report-publisher: changes, and which Codecov flags are due for each by the changed paths.
All: commands, lib, utils

Add flag for global allure exec usage
  Dockerfile
  README.md
  src/lib/allure/report-generator.ts
  src/lib/commands/upload.ts
Due: lib

Add debug log for global config options
  src/commands/upload/gitlab-artifacts.ts
  src/lib/commands/upload.ts
Due: commands, lib

Remove unnecessary strict=false from command
  src/commands/upload/gitlab-artifacts.ts
Due: commands

Simplify config setup and reduce global objects
  src/commands/upload/gitlab-artifacts.ts
  src/lib/allure/config.ts
  src/lib/commands/upload.ts
  src/lib/uploader/cloud/gcs.ts
  src/lib/uploader/cloud/s3.ts
  src/utils/global-config.ts
Due: commands, lib, utils

Remove unused opts
  src/lib/commands/upload.ts
Due: lib

Add distinct base path in global tmp
  src/lib/allure/config.ts
Due: lib

Fix linter issue
  src/lib/commands/upload.ts
Due: lib

Add all parsed flag values to debug log
  src/lib/commands/upload.ts
Due: lib

Update color flag handling
  src/lib/commands/upload.ts
  src/utils/global-config.ts
  src/utils/logger.ts
Due: lib, utils

Log default config contents
  src/lib/allure/config.ts
Due: lib

Always use path relative to build dir in gitlab-artifacts uploader
  src/lib/uploader/ci/gitlab-artifacts.ts
Due: lib

Update readme
  README.md
Due: none

Various improvements and bugfixes (#1160)
  Dockerfile
  README.md
  src/commands/upload/gitlab-artifacts.ts
  src/lib/allure/config.ts
  src/lib/allure/report-generator.ts
  src/lib/commands/upload.ts
  src/lib/uploader/ci/gitlab-artifacts.ts
  src/lib/uploader/cloud/gcs.ts
  src/lib/uploader/cloud/s3.ts
  src/utils/global-config.ts
  src/utils/logger.ts
Due: commands, lib, utils

5.0.0-beta.3
  README.md
  package.json
Due: none

Implement missing tests
  package.json
  pnpm-lock.yaml
  test/lib/allure/config.test.ts
  test/lib/allure/report-generator.test.ts
  test/lib/ci/info/github.test.ts
  test/lib/ci/info/gitlab.test.ts
  test/lib/ci/providers/gitlab.test.ts
  test/lib/uploader/cloud/gcs.test.ts
  test/utils/glob.test.ts
Due: none

Disable output when running tests
  .mocharc.json
  package.json
  src/utils/global-config.ts
  src/utils/logger.ts
  src/utils/spinner.ts
  test/hooks.ts
  test/lib/allure/config.test.ts
  test/lib/allure/report-generator.test.ts
Due: utils

Use chai-as-promised for async testing
  .mocharc.json
  AGENTS.md
  package.json
  pnpm-lock.yaml
  test/commands/upload/upload.test.ts
  test/lib/allure/config.test.ts
  test/lib/allure/report-generator.test.ts
  test/lib/ci/info/github.test.ts
  test/lib/ci/info/gitlab.test.ts
  test/lib/ci/pr/report-summary.test.ts
  test/lib/ci/pr/url-section-builder.test.ts
  test/lib/ci/providers/gitlab.test.ts
  test/lib/uploader/cloud/gcs.test.ts
  test/support/hooks.ts
  test/support/setup.ts
  test/utils/glob.test.ts
Due: none

Remove github run id in test
  test/commands/upload/upload.test.ts
  test/lib/uploader/cloud/gcs.test.ts
Due: none

Update test names
  test/commands/upload/upload.test.ts
Due: none

Add e2e upload test with coverage
  .github/workflows/test.yml
  test/commands/upload/upload.test.ts
Due: none

Upload all coverage
  .github/workflows/test.yml
Due: none

Enable e2e test
  .github/workflows/test.yml
Due: none

Add some debug to e2e test
  test/commands/upload/upload.test.ts
Due: none

Remove config init for e2e test
  test/commands/upload/upload.test.ts
  test/support/setup.ts
Due: none

Improve test coverage
  .github/workflows/test.yml
  .mocharc.json
  AGENTS.md
  package.json
  pnpm-lock.yaml
  src/utils/glob.ts
  src/utils/global-config.ts
  src/utils/logger.ts
  src/utils/spinner.ts
  test/commands/upload/upload.test.ts
  test/lib/allure/config.test.ts
  test/lib/allure/report-generator.test.ts
  test/lib/ci/info/github.test.ts
  test/lib/ci/info/gitlab.test.ts
  test/lib/ci/pr/report-summary.test.ts
  test/lib/ci/pr/url-section-builder.test.ts
  test/lib/ci/providers/gitlab.test.ts
  test/lib/uploader/cloud/gcs.test.ts
  test/support/hooks.ts
  test/support/setup.ts
  test/utils/glob.test.ts
Due: utils

Improve test coverage (#1163)
  .github/workflows/test.yml
  .mocharc.json
  AGENTS.md
  package.json
  pnpm-lock.yaml
  src/utils/glob.ts
  src/utils/global-config.ts
  src/utils/logger.ts
  src/utils/spinner.ts
  test/commands/upload/upload.test.ts
  test/lib/allure/config.test.ts
  test/lib/allure/report-generator.test.ts
  test/lib/ci/info/github.test.ts
  test/lib/ci/info/gitlab.test.ts
  test/lib/ci/pr/report-summary.test.ts
  test/lib/ci/pr/url-section-builder.test.ts
  test/lib/ci/providers/gitlab.test.ts
  test/lib/uploader/cloud/gcs.test.ts
  test/support/hooks.ts
  test/support/setup.ts
  test/utils/glob.test.ts
Due: utils

5.0.0
  README.md
  package.json
Due: none

Fix incorrect check of actions summary file
  src/lib/ci/providers/github.ts
Due: lib

Fix incorrect check of actions summary file (#1164)
  src/lib/ci/providers/github.ts
Due: lib

5.0.1
  README.md
  package.json
Due: none

Update dependency node to 25.3
  mise.toml
Due: none

Update dependency node to 25.3 (#1165)
  mise.toml
Due: none

Update dependency node to 25.4
  mise.toml
Due: none

Update dependency node to 25.4 (#1170)
  mise.toml
Due: none

5.0.2
  README.md
  package.json
Due: none

Update dependency node to 25.5
  mise.toml
Due: none

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

fix: respect baseUrl option in S3Uploader and add tests
  src/lib/uploader/cloud/s3.ts
  test/lib/uploader/cloud/s3.test.ts
Due: lib

fix: fix linting errors
  test/lib/uploader/cloud/s3.test.ts
Due: none

fix: respect baseUrl option in S3Uploader and add tests (#1182)
  src/lib/uploader/cloud/s3.ts
  test/lib/uploader/cloud/s3.test.ts
Due: lib

Path conditions:
  commands: any of: src/commands/**
  lib: any of: src/lib/**
  utils: any of: src/utils/**
